{% extends "admin:admin/login.html" %}
{% load i18n static bootstrap4 %}

{% block navbar %}{% endblock %}

{% block extrastyle %}
<style>
  #header {
    display: none;
  }

  .login-box {
    background: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    overflow: hidden;
    width: 35rem;
    margin: 100px auto;
    padding: 2rem;
  }

  #container {
    margin-left: 0;
  }
</style>
{% endblock %}

{% block content %}
<div class="login-box">
  <form action="{{ app_path }}" method="post" id="login-form">{% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-primary">
      登陆
    </button>
  </form>
</div>
{% endblock %}