{% extends "admin/base.html" %}
{% load bootstrap4 %}

{% block extrastyle %}
  <style>
    .avatar {
      width: 100%;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-3 pt-2">
      {% if user.profile.avatar %}
        <form method="POST" action="{{ action_url }}" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_field avatar_form.avatar show_label=False %}
        <button type="submit" value="avatar" class="default btn btn-primary" name="_save">保存</button>
        </form>
      {% endif %}
    </div>
    <div class="col-9">
      <form method="POST" action="{{ action_url }}" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form user_form %}
        {% bootstrap_form profile_form %}
        <div class="submit-row">
          <button type="submit" value="info" class="default btn btn-primary" name="_save">保存</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}